module core

export:
String{length:int, content:char*}
make_str(char*)->String
print(String)
print_c_str(char*)
getChar()->char
malloc(int)->void*
free(void*)
realloc(void*,int)->void*
memcpy(void*,void*,int)->void*
memmove(void*,void*,int)->void*
calloc(int,int)->void*
